.rempla-manager{
    border: .1px solid black;
    background-color: azure;
    width: 60%;
    margin: 5% auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 1rem;
    
    
}


.rempla-manager div {
    margin-left: 20%;
}

.rempla-manager svg {
    margin: 0 10%;
    color: beige; 
    background-color: red;
    border-radius: 5px;
    padding: .2rem;
    outline: 2px solid rgb(224, 67, 133);
}

.rempla-manager svg:active{
    outline: 1px solid red;
}
