.form{
    background-color: black;
    color: white;
    padding: 1rem; 
}


input[type="date"]{
    height: 3vh;
    width: 50%;
    
    
}

input[type="number"]{
    width: 30%;
    margin: 0 auto;
}